# Copy this file to credentials.properties and fill in your virtuoso credentials. We make no guarantee of secure transmission of them.
# Example
#jdbcUrl=jdbc:virtuoso://localhost:1111
#jdbcUser=dba
#jdbcPassword=dba
#graph=http://linkedspending.aksw.org/
#endpoint=http://linkedspending.aksw.org/sparql